
body {
    background-color: cornsilk;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

button {
    background-color: lightsteelblue;

}

#button_container_for_predictors_table > button {
     width: 300px;
}

h2 {
    text-align: left;
    font-weight: bold;
}

#base_container {
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

#choose1-objective-function {
    text-align: left;
}

#button_container_for_predictors_table {
    position: absolute;
    display: inline-block;
    margin-top: 25px;
    padding: 10px;
    border-style: double;
    border-color: black;
}

#gr1 {
    border-style: solid;
    border-width: 5px;
    border-color: black;
}
